@import "~include-media";

$breakpoints: (
  // xm: 360px,
  sm: 576px,
  // md: 768px,
  // lg: 992px,
  // xl: 1200px,
  // xxl: 1400px
);

  h2 {
    text-align: center;
    margin-bottom: 2vh;
    font-weight: bold;
  }
  article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @include media(">=sm") {
      gap: 10%;
    }
    li{
      display: flex;
      justify-content: space-between;
      min-width: 100%;
      margin: 1vh 0;
      @include media(">=sm") {
        min-width: 45%;
        flex-wrap: wrap;
      }
    }
    li:not(:last-child){
      flex-grow: 1;
    }
  }
