// Variables
$base-color: rgb(93, 50, 178);
$base-color-alpha: rgba(182, 88, 245, 0.2);

// configurações gerais

img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
}
// classes aninhadas
  nav {
    background-color: $base-color-alpha;
    display: flex;
    justify-content: center;
    .container{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5em;
      height: 10vh;
      border-radius: 0.2em;

      .logo {
        width: 6em;
      }
      ul {
        display: flex;
        gap: 1em;
        height: 100%;
        li {
          text-transform: uppercase;
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 1em;
          a{
            color: $base-color
          }
        }
        li:hover{
          cursor: pointer;
          // background-color: $base-color-alpha;
          // border-radius: 1em;
        }
        li:hover a {
          color: #fff;
        }
      }
    }
  }
  article{
    min-height: 80vh;
    // border: 1px solid $base-color-alpha;

  }
  footer{
    background-color: $base-color;
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 10vh;
    .bottom {
      text-align: center;
      color: #fff;
      line-height: 1.5em;
    }
  }


