@import "~include-media";

$breakpoints: (
  // xm: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  // xxl: 1400px
);

// Variables
$base-color: rgb(93, 50, 178);
$base-color-alpha: #f0ddfd;

// configurações gerais


a {
  text-decoration: none;
}
.container {
  width: 90%;
}
// classes aninhadas
nav {
  background-color: $base-color-alpha;
  display: flex;
  justify-content: center;
  width: 100%;

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5em;
    height: fit-content;
    border-radius: 0.2em;
    @include media('<=sm'){
      flex-wrap: wrap;
      flex-shrink: 0;
      gap: 1em;
      justify-content: space-between;
    }
    .logo {
      width: 6em;
    }
    ul {
      display: flex;
      gap: 1em;
      height: 100%;

      @include media('<=sm'){
        // Menu Hamburguer
        height: fit-content;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin: 1em 0;
      }
      li {
        text-transform: uppercase;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 1em;
        padding: 2px 0;
        a {
          color: $base-color;
        }
      }
      li:hover {
        cursor: pointer;
      }
      li:hover a,
      li.active {
        font-weight: bold;
      }
    }
    fa-icon{
      font-size: 2em;
      cursor: pointer;
      color: $base-color;
    }
  }
}
main {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
  padding-top: 5vh;
  @include media(">=sm") {
    font-size: 1rem;
  }
  @include media(">=md") {
    font-size: 1.3rem;
  }
  @include media(">=lg") {
    font-size: 1.8rem;
  }
  @include media(">=xl") {
    font-size: 2.1rem;
  }
}
footer {
  position: absolute;
  bottom: 0;
  background-color: $base-color;
  min-width: 100%;
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
  .bottom {
    text-align: center;
    color: #fff;
    line-height: 1.5em;
  }
}
