<nav>
  <div class="container">
    <div class="logo">
      <a  routerLink="/" >
        <img src="../../assets/img/logo1.png" alt="Logo" />
      </a>
    </div>

    <fa-icon
      (click)="menuClicked = !menuClicked"
      *ngIf="breakpoint === 'sm' || breakpoint === 'xm'"
      [icon]="HamburguerMenu()"
    ></fa-icon>
    <ul *ngIf="(breakpoint !== 'sm' && breakpoint !== 'xm') || menuClicked">
      <li routerLink="/sites" [routerLinkActive]="'active'">
        <a >Apps</a>
      </li>
      <li  routerLink="/about"  [routerLinkActive]="'active'">
        <a>Sobre</a>
      </li>
      <li routerLink="/contact" [routerLinkActive]="'active'">
        <a>Contatosas</a>
      </li>
    </ul>
  </div>
</nav>
<main class>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <div class="container">
    <div class="bottom">&#169; 2021 Copyright: Felipe-LPA{{opt}}</div>
  </div>
</footer>
