<nav>
  <div class="container">
    <div class="logo">
      <a href="#">
        <img src="../../assets/img/logo1.png" alt="Logo" />
      </a>
    </div>

    <fa-icon
      (click)="menuClicked = !menuClicked"
      *ngIf="breakpoint === 'sm' || breakpoint === 'xm'"
      [icon]="HamburguerMenu()"
    ></fa-icon>
    <ul *ngIf="(breakpoint !== 'sm' && breakpoint !== 'xm') || menuClicked">
      <li (click)="opt = 'sites'" routerLink="/">
        <a [ngClass]="opt === 'sites' ? 'active' : ''">Apps</a>
      </li>
      <li (click)="opt = 'about'" routerLink="/about">
        <a [ngClass]="opt === 'about' ? 'active' : ''">Sobre</a>
      </li>
      <li (click)="opt = 'contact'" routerLink="/contact">
        <a [ngClass]="opt === 'contact' ? 'active' : ''">Contato</a>
      </li>
    </ul>
  </div>
</nav>
<main class>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <div class="container">
    <div class="bottom">&#169; 2021 Copyright: Felipe-LPA</div>
  </div>
</footer>
